# Dependencies
node_modules

# Build Output
dist

# Environment Variablen
.env

# IDE & Editors
.vscode
.idea

# File types
*.zip
*.pdf
*.log

# Test Coverage
coverage

# Data Folder
/data/*
!/data/.gitkeep

# Docker Data
docker/postgres_data/*
!docker/postgres_data/.gitkeep

# Compodoc Documentation
documentation/*
!documentation/.gitkeep

# Custom Documentation
docs/*
!docs/.gitkeep