node_modules
dist
.env
.vscode
*.zip
.idea
*.pdf

/data
!data/.gitkeep

docker/postgres_data
!docker/postgres_data/.gitkeep

coverage
# Dokumentation compodoc
documentation
!documentation/.gitkeep

# dokumentation selbst erstellt
docs
!docs/.gitkeep